/*-----Welcome 欢迎----*/
.new-section{
    padding: 2em 0 0 0;/*上右下左*/
    text-align:center;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}


/*图片悬停时 放大效果*/
img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.new-section  h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: #f39c12;
    margin-bottom: 1em;
}
.new-text {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 5em 3em 2em 3em;
}
/*.new h5 {
    color:rgba(44, 47, 47, 1);
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.25em 0;
}*/
.new a h4{
    font-size: 1.3em;
    font-weight:700;
    color: #f39c12;
    text-decoration:none;
    text-transform:uppercase;
    line-height: 1.4em;
    font-family: 'Orbitron', sans-serif;
}
.new-img {
    width:50%;
    margin: 0;
    padding: 0;
}
.new-text p {
    font-size: 0.9em;
    line-height: 1.7em;
    color: #1b1b1b;
    font-weight: 400;
}
.new-text.two {
    float: right;
}
.new-img.two {
    width:50%;
    margin: 0;
    padding: 0;
    float:left;
}
.welcome-img {
    padding: 0;
}
.new {
    margin-bottom: 3em;
    background-color: #eee;
}